fastapi
uvicorn
motor
python-dotenv
python-socketio
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
email-validator
requests
aiohttp
reportlab
# weasyprint
jinja2
bcrypt==4.0.1
dnspython
google-generativeai
openai
litellm
stripe
boto3
s3transfer
pillow
pyjwt
